  html {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../assets/imagenes/fondo.jpg') no-repeat center center fixed; 
    background-size: cover;
	padding-bottom: 60px; /* Asegúrate de que el padding-bottom sea al menos tan alto como el footer para evitar solapamientos */
	box-sizing: border-box; /* Asegura que padding y bordes sean incluidos en el ancho/altura total */

  }

  .login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
  }

  .login-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Adjusted margin for better spacing */
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: white;
    cursor: pointer;
  }

  .login-btn:hover {
    background-color: #555;
  }

  .register-link {
    display: block;
    margin-top: 20px; /* Added margin for spacing */
    color: #333;
    text-decoration: none;
  }

  .register-link:hover {
    text-decoration: underline;
  }
  
  .register-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  h2 {
    margin-bottom: 24px;
  }

  .form-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
  }

 .checkbox-label {
   display: block;
   margin-bottom: 20px; /* Espacio agregado antes del botón Registrar */
 }

/* Estilo para el botón Registrar */
 .submit-btn {
   width: calc(100% - 20px);
   padding: 10px;
   border: none;
   border-radius: 4px;
   background-color: #333;
   color: white;
   cursor: pointer;
   margin-top: 20px; /* Espacio agregado después del checkbox */
 }

  .submit-btn:hover {
    background-color: #555;
  }

  .form-select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
  }
  
  .label {
	display: block;
	margin-bottom: 35px;
  }
  
  .back-btn {
    width: calc(100% - 35px);
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #777; /* Un color diferente para diferenciar del botón de registrar */
    color: white;
    cursor: pointer;
    text-decoration: none; /* Elimina subrayado en caso de que sea un enlace */
    display: inline-block; /* Permite que se apliquen padding y otros espacios */
    margin-top: 10px; /* Espacio encima del botón */
  }

  .back-btn:hover {
    background-color: #999;
  }
  
  .navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 10px;
  }
  
  .nav-link {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-link:hover {
    background-color: #555;
  }
  
  .right-menu {
    display: flex;
    justify-content: flex-end;
  }
  
  .search-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* Agrega espacio entre el menú y el formulario */
  }
  
  label {
    display: block;
    margin-bottom: .5rem;
    color: #333;
    font-weight: bold;
 }
 
  .content {
    flex: 1;
  }

 .footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .footer img {
    width: auto; /* Mantenemos el ancho automático para la responsividad */
    height: 24px; /* Altura fija para mantener la uniformidad de los iconos */
    margin: 0 5px;
    vertical-align: middle;
  }